<h1>Room <%= @room.number %></h1>

<table class="table table-bordered">
  <tbody class= "table-secondary">
    <tr><th>Type</th><td><%= @room.room_type %></td></tr>
    <tr><th>Price</th><td>$<%= @room.price %></td></tr>
    <tr><th>Status</th><td><%= @room.status %></td></tr>
  </tbody>
</table>

<%= link_to "Back to Rooms", rooms_path, class: "btn btn-secondary" %>

